PyYAML==6.0.1
referencing==0.35.1
requests==2.32.3
robotframework==7.0.1
robotframework-faker==5.0.0
robotframework-jsonlibrary==0.5
robotframework-metrics==3.7.0
robotframework-pabot==2.18.0
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==6.3.0
robotframework-yamllibrary==0.2.8
behave==1.2.6
webdriver-manager==4.0.1
python-dotenv==1.0.1
behave==1.2.6.dev6
selenium==4.21.0
allure-behave==2.13.5